.Notifications {
    border: 2px dashed red;
    padding: 10px;
    margin-bottom: 20px;
}

.close-button img{
    width: 10px;
    height: 10px;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: red;
}