.App-header {
    width: 100%;
    border-bottom: 4px solid red;
    color: red;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.App-logo {
    height: 200px;
    width: 200px;
}

.App-body {
    height: 500px;
    margin: 50px 50px;
}

.App-footer {
    width: 100%;
    border-top: 4px solid red;
    text-align: center;
    font-style: italic;
}